.cardButton button {
  /* Общие стили для кнопки */
  display: inline-block;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Tahoma;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
}

.cardButton button.add {
  /* Стили для кнопки "Добавить" */
  background: #0688A1;
}

.cardButton button.delete {
  /* Стили для кнопки "Удалить" */
  background-color: #b51f05;
}

.black-link {
  color: black;
  text-decoration: none; /* Чтобы убрать подчеркивание ссылки */
}