.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.oval {
    height: 450px;
    width: 420px;
    border-bottom-left-radius: 50px 100px;
    background: rgb(3, 192, 3);
    position: absolute;
    top: 10px;
    right: 0;
    background-image: url("../assets/12.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }
  
  .text_oval {
    position: absolute;
    width: 100%;
    top: 35px;
    text-align: center;
    font-size: 38px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    background: rgb(3, 192, 3);
    height: 50px;
    width: 100%;
  }